html {
    background-color: rgb(128,128,128);
}

#headerImage{
    display: inline-block;
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 100px;
    border: solid 2px rgb(64,64,64);
    border-radius: 5px 5px 5px 5px;
}

#header h1{ 
    display: inline-block;
}

body{
    padding: 2px 2px 2px 2px;
    border: solid 2px rgb(64,64,64);
    border-radius: 5px 5px 5px 5px;
    
    margin-right: 80px ;
    margin-left: 80px;
    margin-bottom: 10px ;
    margin-top: 10px;
    
    box-shadow: 0 0 20px rgb(0,0,0);
    
    background-color: white;
    
    overflow-y: scroll;
    overflow-x: scroll;
    font-family: Arial;
    font-size: 18px;
}

#nav{
    color: rgb(255,255,255);
    border-radius: 5px 5px 5px 5px;
    background-color: rgb(64,64,64);
}

#nav_wrapper{
    width: auto;
    margin: 0 auto;
    text-align: left;
}

#nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
}

#nav ul li{
    display: inline-block;
    border-radius: 5px 5px 5px 5px;
}

#nav ul li:hover{
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    
    background-color: rgb(128,128,128);
}

#nav ul li a,visited{
    color: rgb(255,255,255);
    display: block;
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
    text-decoration: none;
}

#nav ul li a:hover{
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    
    color: rgb(200,200,200);
    text-decoration: none;
}

#nav ul ul li a,visited{
    background-color: rgb(64,64,64);
}

#nav ul ul li a:hover{
    -o-transition:1s;
    -ms-transition:1s;
    -moz-transition:1s;
    -webkit-transition:1s;
    transition:1s;
    
    background-color: rgb(128,128,128);
    color: rgb(200,200,200);
}

#nav ul ul {
    display: none;
    position: absolute;
    background-color: rgb(64,64,64);
    border-radius: 5px 5px 5px 5px;
}

#nav ul ul ul{
    display: none;
    position: absolute;
    width: 320px;
    left: 180px;
    border-radius: 5px 5px 5px 5px;
}

#nav ul ul .dropDownStartRow1{
    top: 0;
}

#nav ul ul .dropDownStartRow2{
    top: 44px;
}

#nav ul ul li{
    display: block;
}

#nav ul ul ul li{
    display: none;
}

#nav ul li:hover ul {
    display: block;
}

#nav ul ul li:hover ul {
    display: block;
}

#nav ul ul li:hover ul li{
    display: block;
}

#homePage a:hover{
    -o-transition:1s;
    -ms-transition:1s;
    -moz-transition:1s;
    -webkit-transition:1s;
    transition:1s;
    color: rgb(200,200,200);
    background: rgb(128,128,128);
}

p{
    margin-left: 100px;
    margin-right: 100px;
}

.image{
    display: table-cell;
    border: 5px solid rgb(128,128,128);
    border-radius: 10px;
    horizontal-align: middle;
    width: 500px;
    margin-top: 50px;
    margin-bottom: 150px;
    
}

footer{
    font-size: 10px;
    text-align: right;
}

footer a{
    text-decoration: none;
    color: rgb(0,0,0);
}